@font-face {
	font-family: "Swiss721 BT Regular";
	src: url("../fonts/Swiss721_BT_Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Italic";
	src: url("../fonts/Swiss721_BT_Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Bold";
	src: url("../fonts/Swiss721_BT_Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Bold Italic";
	src: url("../fonts/Swiss721_BT_Bold_Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Light";
	src: url("../fonts/Swiss721_BT_Light.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Light Italic";
	src: url("../fonts/Swiss721_BT_Light_Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Thin";
	src: url("../fonts/Swiss721_BT_Thin.ttf") format("truetype");
}

@font-face {
	font-family: "Swiss721 BT Thin Italic";
	src: url("../fonts/Swiss721_BT_Thin_Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Victor Serif Regular";
	src: url("../fonts/VictorSerif_Regular.otf") format('opentype'),
	url("../fonts/VictorSerif_Regular.woff") format('woff'),
	url("../fonts/VictorSerif_Regular.woff2") format('woff2');
}

@font-face {
	font-family: "Victor Serif Italic";
	src: url("../fonts/VictorSerif_Regular_Italic.otf") format('opentype'),
	url("../fonts/VictorSerif_Regular_Italic.woff") format('woff'),
	url("../fonts/VictorSerif_Regular_Italic.woff2") format('woff2');
}

@font-face {
	font-family: "Victor Serif Thin";
	src: url("../fonts/VictorSerif_Thin.otf") format('opentype'),
	url("../fonts/VictorSerif_Thin.woff") format('woff'),
	url("../fonts/VictorSerif_Thin.woff2") format('woff2');
}

@font-face {
	font-family: "Victor Serif Thin Italic";
	src: url("../fonts/VictorSerif_Thin_Italic.otf") format('opentype'),
	url("../fonts/VictorSerif_Thin_Italic.woff") format('woff'),
	url("../fonts/VictorSerif_Thin_Italic.woff2") format('woff2');
}

@font-face {
	font-family: "Victor Serif Bold Italic";
	src: url("../fonts/VictorSerif_BoldItalic.otf") format('opentype'),
	url("../fonts/VictorSerif_BoldItalic.woff") format('woff'),
	url("../fonts/VictorSerif_BoldItalic.woff2") format('woff2');
}