/*--------------------------------------------------------------
# Woocommerce Overrides
--------------------------------------------------------------*/
.woocommerce .site-main,
.woocommerce-page .site-main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.woocommerce div.product {
	max-width: 1600px;
	margin: 100px auto 20px auto;
	padding: 0 20px;
}

.woocommerce ul {
	margin-left: 0;
	padding: 0;
	list-style: none;
}

.woocommerce .page-content {
	clear: both;
}

.woocommerce-info {
	border-top-color: var(--primary);
}

.woocommerce-info::before {
	color: var(--tan);
}

.woocommerce .woocommerce-breadcrumb {
	color: var(--primary);
}

.woocommerce .woocommerce-breadcrumb a {
	color: var(--secondary);
}

.woocommerce-ordering select {
	border: 0;
	font-family: "Swiss721 BT Light";
	padding: 0 5px;
}

/* Buttons
--------------------------------------------- */
/* Proceed to checkout */
.woocommerce .wc-proceed-to-checkout a.checkout-button {
	background-color: var(--primary);
}

.woocommerce .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce div.product form.cart .button:hover {
	background-color: var(--secondary);
}

/* Add to cart */
.woocommerce div.product form.cart .button {
	background-color: var(--primary);
	height: 72px;
	width: 300px;
}

/* QTY increment counter */
.summary.entry-summary form.cart .qib-container + button[type='submit']:not(#qib_id):not(#qib_id) {
	margin-left: 0;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button {
	background: var(--tan);
	border-radius: 0;
	color: #fff;
	font-size: 1.125em;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button:hover {
	background: var(--secondary);
	color: var(--primary);
}

/* Products
--------------------------------------------- */
/* Product title */
.product-title {
	letter-spacing: 5px;
}

/* Product image on PDP */
.woocommerce-product-gallery__image {
    pointer-events: none;
}

/* Product thumbnails on PDP */
.woocommerce div.product div.images .flex-control-thumbs {
	display: flex;
	justify-content: center;
	width: 90%;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	height: auto;
	margin: 6px;
	width: 150px;
}

/* Product price on PDP */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: var(--primary);
	font-family: "Victor Serif Thin";
	font-size: 50px;
	margin: 0 0 30px 0;
}

.product-info {
	background-color: var(--primary);
	bottom: 15%;
	color: #fff;
	display: none;
	font-family: "Victor Serif Italic";
	padding: 0 20px;
	position: absolute;
	text-align: left;
	width: 75%;
}

.woocommerce-loop-product__link:hover .product-info,
.wc-block-grid__product:hover .product-info {
	display: block;
}

.wc-block-grid__product:hover .product-info {
	padding: 15px 35px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-family: "Victor Serif Italic";
	font-size: 23px;
	padding-bottom: 5px;
}

.woocommerce ul.products li.product .price {
	color: #fff;
	font-size: 14px;
}

/* Product grid */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	background-color: var(--lt-gray);
	margin: 0 1% 1.5em;
}

.wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image) {
	margin-bottom: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 1em;
}

.wc-block-grid__products {
	row-gap: 0;
}

.wc-block-grid__product {
	border-bottom: 8px solid transparent;
}

.woocommerce ul.products li.product a img {
	margin-bottom: 0;
}

/* Handpicked product block */
.wp-block-handpicked-products {
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.wp-block-handpicked-products.pd-0 {
	padding: 0;
}

.wc-block-grid__products .wc-block-grid__product-image img {
	background-color: var(--lt-gray);
}

.wp-block-handpicked-products .wc-block-grid__product-add-to-cart {
	margin-top: 24px;
}

/* QTY heading */
.woocommerce div.product div.summary div.quantity h3 {
	font-size: 26px;
}

/* Hides magnifying glass on product images */
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    visibility: hidden;
}

.woocommerce-notices-wrapper {
	max-width: 600px;
    margin: 20px auto;
}

.woocommerce-notices-wrapper .woocommerce-error {
	padding: 40px 20px;
}

/* QTY increment plugin */
.qib-button:not(#qib_id):not(#qib_id) {
	background: var(--primary) !important;
}

.cart .qib-container {
	margin-bottom: 30px;
}

/* Account login */
.woocommerce-MyAccount-navigation a:hover,
.woocommerce-MyAccount-content a:hover {
	color: var(--lt-gray);
}

.woocommerce form.login {
	max-width: 600px;
	margin: 0 auto;
}

/* Cart Page
--------------------------------------------- */
.woocommerce-cart .entry-content {
	margin-top: 40px;
}

/* Coupon code imput */
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	padding: 12px 10px;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: 50%;
}

/* Fix for footer column on woocommerce shop page */
.woocommerce-shop .woocommerce-LoopProduct-link.woocommerce-loop-product__link .footer-column {
	width: 100%;
}

@media (max-width: 768px) {
	/* Product grid */
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		clear: none;
		margin: 0 1% 1em;
	}
}

@media (min-width: 769px) {
    /* Product image container on PDP */
	.woocommerce-product-gallery {
		border-right: 3px solid var(--primary);
	}
}

@media (max-width: 991px) {
	/* Variation swatches plugin */
	.woocommerce div.product form.cart .variations th {
		text-align: left;
	}
}

@media (min-width: 992px) {
    /* Product grid title */
	.wc-block-grid__product-title {
		font-size: 30px;
	}
	
	/* Product image viewport on PDP */
	.woocommerce-product-gallery figure,
	.woocommerce-product-gallery .flex-viewport {
		width: 90%;
	}
	
	/* Product image on PDP */
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 60%;
	}

    /* Product summary on PDP */
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		align-items: flex-end;
		display: flex;
		flex-flow: column;
		text-align: right;
		width: 24%;
	}
	
	/* Product price on PDP */
	.woocommerce div.product p.price,
	.woocommerce div.product span.price {
		font-size: 56px;
	}
	
	/* Variation swatches plugin */
	.woo-variation-swatches .variable-items-wrapper {
		justify-content: flex-end;
	}
}

/* Checkout Page
--------------------------------------------- */
.woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-shipping-fields h3,
.woocommerce-checkout #order_review_heading {
	font-size: 20px;
}

.woocommerce-checkout #ship-to-different-address-checkbox {
	width: 20px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	background-color: var(--primary);
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover {
	background-color: var(--secondary);
}